<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Division</title>
    <style>
      input {
        margin: 5px 0px;
      }
      select {
        margin: 5px 0px;
      }
      .header {
        display: flex;
        justify-content: center;
      }
      .nav a {
        margin: 20px;
      }
      a {
        text-decoration: none;
        color: blue;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="nav">
        <a href="staffdashboard">Dashboard</a>
        <a href="staffstudent">View Student</a>
      </div>
    </div>
    <h1 align="center">Welcome <%= user_name%></h1>

  </body>
</html>
